.deps/
Makefile
*.o
autom4te.cache/
config.h
config.log
config.status
stamp-h1
*.o
utils/.deps/
utils/Makefile
utils/autom4te.cache/
utils/config.h
utils/config.log
utils/config.status
utils/dotfiles
utils/*.o
utils/passwordless
utils/stamp-h1
utils/xuids
