aclocal.m4
autom4te.cache/
build-aux/Makefile
build-aux/Makefile.in
config.h
config.log
config.status
doc/Makefile
doc/Makefile.in
find/.deps/
find/find
find/oldfind
find/Makefile
find/Makefile.in
find/*.o
find/*.a
find/testsuite/Makefile
find/testsuite/Makefile.in
gl/lib/*.a
gl/lib/charset.alias
gl/lib/.deps/
gl/lib/glthread/.deps/
gl/lib/glthread/.dirstamp
gl/lib/glthread/*.o
gl/lib/*.h
gl/lib/Makefile
gl/lib/Makefile.in
gl/lib/*.o
gl/lib/*.sed
gl/lib/selinux/
gl/lib/sys/
gl/lib/uniwidth/
gl/Makefile
gl/Makefile.in
lib/*.a
lib/.deps/
lib/Makefile
lib/*.o
m4/Makefile
m4/Makefile.in
Makefile
Makefile.in
po/Makefile
po/Makefile.in
stamp-h1
tests/.deps/
tests/glthread/.deps/
tests/Makefile
tests/Makefile.in
tests/uniwidth/.deps/
xargs/.deps/
xargs/Makefile
xargs/Makefile.in
xargs/*.o
xargs/testsuite/Makefile
xargs/testsuite/Makefile.in
xargs/xargs
